<h1 class="text-3xl font-semibold text-center text-gray-800 my-6"><%= t('.title') %></h1>

<div class="flex justify-center">
  <div class="w-full max-w-4xl bg-white shadow-lg rounded-lg p-6">
    <ul class="divide-y divide-gray-200">
      <%= render partial: 'category', collection: @categories %>
    </ul>
    <div class="mt-4 text-center">
      <%= link_to t('.new'), new_category_path, class: "text-teal-500 hover:text-teal-700 font-semibold" %>
    </div>
  </div>
</div>
